@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Outfit', sans-serif;
  background-color: #fbf3e3 !important;
}
/* change back */
.btn.btn-custom {
  background-color: #35ceb2;
}

.box {
  width: 300px;
  height: 25px;
  background-color: white; /* replace with desired color */
  border: 1px solid #6ba292; /* add border styles as needed */
  border-radius: 10px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 50px;
  /* add other styles as needed */
}

/* Navbar */

.navbar-custom {
  background-color: #4b766a;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #f3e4c3;
}

/* Landing page */

.landing-page {
  display: flex;
}

.landing-page-left-box {
  width: 40%;
}

.landing-page-title {
  font-family: 'Yeseva One', cursive;
}

/* Home Page */

.Home {
  display: flex;
}

.Home-left-box {
  width: 50%;
}

.Home-right-box {
  width: 50%;
}

.log-reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

.log-reg-container-border {
  border: 1px solid black;

  padding: 50px 30px;
}

/* Input files */
.input-files-container {
  width: 60% !important;
  margin-bottom: 25px;
}

/* Results */
/* .answers {
  visibility: hidden;
  height: 30px;
  width: 100%;
} */

/* Alert */
#custom-alert {
  margin-top: 15px;
  text-align: center;
}
